<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Primeiro Nome" placeholder="Digite seu primeiro nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Ultimo Nome" placeholder="Digite seu ultimo nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="E-mail" placeholder="Digite seu E-mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contato" placeholder="Digite seu Telefone"></ion-input>
  </ion-item>
</ion-content>